body{
	background-color: #EEE;
}

.fundo {
	background-image:url('../img/banner.jpg');
	/* height: 710px; */
}
.logo {
	width: 30%;
	min-width: 200px;
}

.logoNavBar {
	width: 45px;
}

.panel-login {
	max-width: 300px; 
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel-add{
	max-width: 450px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-list-equipamento{
	max-width: 650px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-add-marcaModelo{
	max-width: 650px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}



.panel-addLivro{
	max-width: 680px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-list{
	max-width: 650px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-addPonto{
	max-width: 600px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.panel-addStakeholder{
	max-width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.login {
	width: 100%;
}

.btn-add {
	width: 78%;
}

.btn-limpar {
	background-color:olive;
	width: 20%;
}

.welcome {
    text-align: center;
    color: #446CB3;
    font-size: 28px; 
    margin-top: 10px;
}

.ages{
	color: #F89406;
}

.red{
	color: red;
	font-weigth: bold
}

.modal-ages{
	color: #FFF;
	background-color: #296395;
}

.margin-top {
	margin-top: 20px;
}

.img {
	width: 10%;
	padding: 1px;
}

.total {
	background: rgba(0, 0, 0, 1);
	height: 40px; 
	background: black; 
	width: 100%; 
	text-align: right; 
	padding-right: 30px; 
	line-height: 40px;
}